NODE_ENV=development
APPLICATION="NBA Historical Collection"
VERSION=1.0.0
PORT=3000

POSTGRES_USER=nba
POSTGRES_PASSWORD=nba_local
POSTGRES_DB=nba
DB_LOCAL_PORT=5432
DATABASE_URL="postgresql://nba:nba_local@localhost:5432/nba?schema=public"
